@charset "uft-8";
@import url('common.css');

/* 헤더이미지 ///////////////////// */
.bd_hd{
    position: relative;
    width:100%;
    height:18vw;
    overflow: hidden;
    background-color: rgba(0,0,0);
}
.bd_hd figure{
    background:url('../img/img7.jpeg') 50% 50% no-repeat;
    width:100%;
    height: 100%;
    background-size: cover;
    opacity: 0.5;
}
.bd_hd span{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    font-size:36px;
    color:white;
    letter-spacing: 20px;
    width: fit-content;
}


/* 컨테이너 //////////////////////// */
.container{
    position: relative;
    margin:0 10%;
}
.con-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.con-1 h2{
    width:120px;
    font-weight: 900;
    text-align: left;
    margin:50px auto;
    /* border: 1px solid black; */
    font-size: 25px;
}
.con-1 span{
    height: 1px;
    width: 100%;
    margin: 0 5%;
    background-color: #a89968;
}

.con-2{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.con-2 article{
    width:25%;
}
.con-2 img{
    vertical-align: top;
    font-size: 0;
    border:1px solid #777;
}
.con-2 p{
    font-weight: 900;
    font-size: 18px;
    margin: 10px 0;
}
.con-2 figure{
    position: relative;
}
.con-2 figcaption{
    display: none;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    width:90%;
    height: 90%;
    background-color:rgba(0,0,0,0.8);
    transition:0.5s;
}
.con-2 figcaption p{
    height: 100%;
    font-weight: 900;
    font-size: 18px;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color:#fdd000;
    letter-spacing: 5px;
}
.con-2 figure:hover figcaption{
    display: block;
    transition:0.5s;
}
.con-2 figure:hover img{
    opacity: 0.5;
}

.con-2 a{
    text-decoration: none;
}
.con-2 a:visited{
    color:#fdd000;
}
.login{
    position:absolute;
    left:50%; top:20%;
    transform: translate(-50%,-50%);
    border:1px solid black;
    padding:60px 100px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0,0,0,0.9);
    z-index:10;
}
.login h3{
    margin-bottom:20px;
    font-weight: 900;
}
.login.active{
    display:none;
}
.login .input{
    padding:10px;
    width:250px;
    margin-bottom:10px;
    border:1px solid black;
}
.in{
    padding: 10px 0;
    margin-bottom: 10px;
    width:60px;
    border:1px solid black;
}
.go{
    width:50px;
    margin-left:5px;
}





/* 반응형 모바일  ///////////////////////*/
@media (min-width:360px) and (max-width:767px){
    /* 헤더이미지 ///////////////////// */
    .bd_hd{
        position: relative;
        width:100%;
        height:18vw;
        overflow: hidden;
        background-color: rgba(0,0,0);
    }
    .bd_hd figure{
        background:url('../img/img7.jpeg') 50% 50% no-repeat;
        width:100%;
        height: 100%;
        background-size: cover;
        opacity: 0.5;
    }
    .bd_hd span{
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
        font-size:20px;
        color:white;
        letter-spacing: 20px;
    }
    .con-1 h2{
        font-size: 18px;
    }
    .con-2 p{
        font-size: 16px;
    }
    .con-2 article{
        width:50%;
    }
    .con-2 figure:hover figcaption{
        display: none;
    }
    .con-2 figure:hover img{
        opacity: 1;
    }
}




/* 반응형 //////////////////////////// */
@media (min-width:768px) and (max-width:1200px){
    /* 헤더이미지 ///////////////////// */
    .bd_hd{
        position: relative;
        width:100%;
        height:18vw;
        overflow: hidden;
        background-color: rgba(0,0,0);
    }
    .bd_hd figure{
        background:url('../img/img7.jpeg') 50% 50% no-repeat;
        width:100%;
        height: 100%;
        background-size: cover;
        opacity: 0.5;
    }
    .bd_hd span{
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
        font-size:20px;
        color:white;
        letter-spacing: 20px;
    }
}