@charset 'uft-8';
@import url('common.css');

/* container ////////////////////////*/
.container{
    width:80%;
    margin:0 auto;
    padding:0;
}
.title{
    color:white;
    background-color: black;
    display:inline-block;
    width:fit-content;
    height:40px;
    padding:0 30px;
    text-align: center;
    font-size:25px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.con_hd{
    width:100%;
    margin:100px 0 30px;
    font-size:18px;
}



/* 헤더이미지 ///////////////////// */
.bd_hd{
    position: relative;
    width:100%;
    height:18vw;
    overflow: hidden;
    background-color: rgba(0,0,0);
}
.bd_hd figure{
    background:url('../img/img3.jpg') 50% 55% no-repeat;
    width:100%;
    height: 100%;
    background-size: cover;
    opacity: 0.5;
}
.bd_hd span{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    font-size:36px;
    color:white;
    letter-spacing: 20px;
}

/* 검색결과 페이지 //////////////////// */
.con-1{
    margin:0 auto;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.con-1 .form{
    display: flex;
    width:600px;
    height: 40px;
    border:1px solid black;
    margin:100px 0 80px;
}
.con-1 #src{
    padding: 0 10px;
    border:0px;
    width:100%;
    height: 100%;
}
.con-1 #srcsm{
    width:40px;
    height: 40px;
    background:url('../img/src_btn.png') 50% 50% no-repeat;
    background-size:auto;
    border:0px;
    font-size:0;
}
.con-1 .form .src_btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.con-1 .src_rs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.con-1 .src_rs img{
    width:250px;
    vertical-align: top;
    margin-bottom:30px;
}
.con-1 .src_rs figcaption{
    margin:0 auto;
    width:fit-content;
    text-align: center;
    font-size: 36px;
}






/* 반응형 모바일  ///////////////////////*/
@media (min-width:360px) and (max-width:767px){
    /* container ////////////////////////*/
    .container{
        width:90%;
        margin:0 auto;
        padding:0;
    }
    .title{
        color:white;
        background-color: black;
        display:inline-block;
        width:fit-content;
        height:40px;
        padding:0 30px;
        text-align: center;
        font-size:25px;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    .con_hd{
        width:100%;
        margin:100px 0 30px;
        font-size:18px;
    }

    /* 헤더이미지 ///////////////////// */
    .bd_hd{
        position: relative;
        width:100%;
        height:18vw;
        overflow: hidden;
        background-color: rgba(0,0,0);
    }
    .bd_hd figure{
        background:url('../img/img3.jpg') 50% 55% no-repeat;
        width:100%;
        height: 100%;
        background-size: cover;
        opacity: 0.5;
    }
    .bd_hd span{
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
        font-size:20px;
        color:white;
        letter-spacing: 20px;
    }

    /* 검색결과 페이지 //////////////////// */
    .con-1{
        margin:0 auto;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .con-1 .form{
        /* OK */
        display: flex;
        width:80%;
        height: 40px;
        border:1px solid black;
        margin:50px 0 50px;
    }
    .con-1 #src{
        padding: 0 10px;
        border:0px;
        width:100%;
        height: 100%;
    }
    .con-1 #srcsm{
        width:40px;
        height: 40px;
        background:url('../img/src_btn.png') 50% 50% no-repeat;
        background-size:auto;
        border:0px;
        font-size:0;
    }
    .con-1 .form .src_btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .con-1 .src_rs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .con-1 .src_rs img{
        width:200px;
        vertical-align: top;
        margin-bottom:30px;
    }
    .con-1 .src_rs figcaption{
        margin:0 auto;
        width:fit-content;
        text-align: center;
        font-size: 25px;
    }
}




/* 반응형 //////////////////////////// */
@media (min-width:768px) and (max-width:1200px){
    /* container ////////////////////////*/
    .container{
        width:90%;
        margin:0 auto;
        padding:0;
    }
    .title{
        color:white;
        background-color: black;
        display:inline-block;
        width:fit-content;
        height:40px;
        padding:0 30px;
        text-align: center;
        font-size:25px;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    .con_hd{
        width:100%;
        margin:100px 0 30px;
        font-size:18px;
    }

    /* 헤더이미지 ///////////////////// */
    .bd_hd{
        position: relative;
        width:100%;
        height:18vw;
        overflow: hidden;
        background-color: rgba(0,0,0);
    }
    .bd_hd figure{
        background:url('../img/img3.jpg') 50% 55% no-repeat;
        width:100%;
        height: 100%;
        background-size: cover;
        opacity: 0.5;
    }
    .bd_hd span{
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
        font-size:20px;
        color:white;
        letter-spacing: 20px;
    }

    /* 검색결과 페이지 //////////////////// */
    .con-1{
        margin:0 auto;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .con-1 .form{
        /* OK */
        display: flex;
        width:500px;
        height: 40px;
        border:1px solid black;
        margin:50px 0 50px;
    }
    .con-1 #src{
        padding: 0 10px;
        border:0px;
        width:100%;
        height: 100%;
    }
    .con-1 #srcsm{
        width:40px;
        height: 40px;
        background:url('../img/src_btn.png') 50% 50% no-repeat;
        background-size:auto;
        border:0px;
        font-size:0;
    }
    .con-1 .form .src_btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .con-1 .src_rs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .con-1 .src_rs img{
        width:200px;
        vertical-align: top;
        margin-bottom:30px;
    }
    .con-1 .src_rs figcaption{
        margin:0 auto;
        width:fit-content;
        text-align: center;
        font-size: 30px;
    }
}